* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    color: mediumslateblue;
    text-align: center;

}

h2 {
    color: #000;
    text-align: center;

}

nav ul {
    list-style: none;
    height: 3vh;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;

}

#nombre-pagina {
    text-align: center;
    background-color: mediumslateblue;


}

#subtitulo-pagina {
    font-size: large;

}

.contenedor {
    position: relative;
    display: inline-block;
    width: 100%;

}

img {
    width: 100%;


}

#texto-descripcion {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 22px;
    color: #fff;
    background-color: #000;

}

#dinosaurio {
    height: 40%;
    width: 40%;
    right: 100%;
    text-align: center;

}

#texto-nosotros {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.card-impresoras{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;

}



.texto-boton {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.card-img-top{
    object-fit: scale-down;
    
}

.card-body{
    text-align: center;
}



footer {

    text-align: center;
    background-color: #bc8183;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20vh;

}



#logoinstagram {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;

}

#logowhatsapp {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;

}

#logotelefono {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}