@import "../utilities/extends.scss";

body {
    @media screen and (min-width: 900px) {
        background-color: lightgray;
    }
    @media screen and (min-width: 600px) and (max-width: 899px) {
        background-color: lightblue;
    }
    @media screen and (max-width: 599px) {
        background-color: lightpink;
    }
}

h1, h2 {
    @media screen and (min-width: 900px) {
        color: darkblue;
    }
    @media screen and (min-width: 600px) and (max-width: 899px) {
        color: darkgreen;
    }
    @media screen and (max-width: 599px) {
        color: darkred;
    }
}

nav ul {
    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
    @media screen and (min-width: 600px) and (max-width: 899px) {
        flex-direction: column;
    }
    @media screen and (max-width: 599px) {
        flex-direction: column;
    }
}
